.customButton {
    min-width: 100px;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    color: #434449;
    font-size: inherit;
    background-color: #F1F2F7;
    cursor: pointer;    
    
    &.active {
        color: white;
        background-color: #3F51B5;
    }
}

