.toolbar {

    input {
        width: 95%;
        height: 40px;
        background-color: #F1F2F7;
        border: 0;
        font-size: 15px;
        padding-left: 20px;
    }

    .fa-search {
        margin-left: -40px;
        border: 0;
        font-size: 15px;
        background-color: transparent;
    }

}