aside {
    border: 1px solid #F1F1F4;
    border-radius: 5px;
    height: 200px;
    padding-top: 50px;

    ul {
        list-style: none;
        margin: 0 auto;
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        width: 175px;
        padding-left: 10px;

        li {
            margin: 10px;
            padding: 10px;

            &.active {
                background-color: #F1F2F7;
                border-left: 5px solid #3F51B5;
            }

            .menuItem {
                text-decoration: none;
                &:visited {
                    color: #434449
                }
            }
        }
    }
}