.loggedScreen {
        
    header {
        display: flex;
        justify-content: flex-end;
        position: sticky;
        top: 0;
        padding: 10px;
    }

    main {
        width: 70%;
        margin: 0 auto;
        display: flex;

        section {
            padding: 20px;
            width: 1020px;
            min-width: 400px;

            .discoverText {
                text-align: center;
                font-size: 1.2em;
            }

            .message {
                text-align: center;
                font-size: 1.2em;
            }
        }
    }



}