.App {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .booksImage {
    width: 100px;
  }
  
  h1 {
    color: #434449;
  }