.bookWrapper {
    display: flex;
    
    .book {
        margin: 10px 0;
        border: 1px solid #E4E5E9;
        padding: 15px;
        display: flex;
        flex: 1;
        
        .bookImage {
            img {
                width: 140px;
            }
        }
    
        .bookText {
            padding: 10px;
    
            .bookHeader {
                display: flex;            
                justify-content: flex-start;
    
                .bookTitle {
                    font-size: 20px;
                    color: #3F51B5;
                    font-weight: 800;
    
                    a:visited, a {
                        color: #3F51B5;
                    }
                }
    
                .bookAuthor {
                    font-style: italic;
                    font-size: 14px;
                }
            }
    
            .bookDescription {
                font-size: 12px;
                margin-top: 10px;
                line-height: 22px;
                padding-left: 15px;
            }
        }
    }
    
    .bookActionIcon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 0;
    
        .actionIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #E4E5E9;
            width: 40px;
            height: 40px;
            margin-left: -20px;
            border-radius: 21px;
            color: rgb(67, 68, 73);
            background-color: white;
        }
    }
}