.button {
    font-size: 14px;
    max-width: 100px;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    color: #434449;
    background-color: #F1F2F7;
    cursor: pointer;    
    
    &.active {
        color: white;
        background-color: #3F51B5;
    }
}

.formClass {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    div {
        margin: 10px auto;
        width: 100%;
        max-width: 300px;
    }
}

h1 {
    text-align: center;
}
    // .modalBox {
    //     display: flex;
    //     flex-direction: column;
    //     padding: 20px;
    //     width: 400px;
    //     background-color: white;

    //     .modalContent {

    //         form {
    //             display: flex;
    //             flex-direction: column;
    //             align-items: flex-start;
    //             margin-left: 60px;
                
    //             input {
    //                 height: 40px;
    //                 width: 270px;
    //                 background-color: #E9F0FE;
    //                 border: 0;
    //                 padding-left: 15px;
    //                 font-size: 1em;
    //                 border-radius: 5px;
    //                 margin-bottom: 20px;
    //             }
    //         }
    //     }
    // }
